PUBLIC_APP_ENV=development

# Primary Database
# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nostr
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_CONNECTION_STRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# Secondary Database
# PostgreSQL Configuration
POSTGRES_SECONDARY_USER=postgres
POSTGRES_SECONDARY_PASSWORD=postgres
POSTGRES_SECONDARY_DB=nostr_events
POSTGRES_SECONDARY_PORT=5433
POSTGRES_SECONDARY_HOST=localhost
POSTGRES_SECONDARY_CONNECTION_STRING=postgres://${POSTGRES_SECONDARY_USER}:${POSTGRES_SECONDARY_PASSWORD}@${POSTGRES_SECONDARY_HOST}:${POSTGRES_SECONDARY_PORT}/${POSTGRES_SECONDARY_DB}?sslmode=disable

# Relay Configuration
PUBLIC_RELAY_PORT=3002
PUBLIC_RELAY_PUBKEY=96c727f4d1ea18a80d03621520ebfe3c9be1387033009a4f5b65959d09222eec
PUBLIC_RELAY_CONTACT=relay@gmsi.rs

PUBLIC_HOST=192.168.x.xx
PUBLIC_WEB_PORT=8080
PUBLIC_API_PORT=3001

# DVM Configuration
DVM_PRIVATE_KEY=beb8f6777d4379ac60b01d91fa84456bb23a2ef6b083f557b9ede311ae1ede53 

# AudD Configuration
AUDD_API_TOKEN=dfd5986bf6271182e0eaba8395fe56d7

# Blossom Configuration
PUBLIC_BLOSSOM_URL=https://api.satellite.earth/v1/media