@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply min-w-[320px] min-h-screen relative m-0 bg-background text-foreground overflow-x-hidden;
  }

  #root {
    width: 100%;
    min-height: 100vh;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
